@charset "utf-8";
/* CSS Document */
html{overflow-x:hidden; overflow-y:hidden;}
/*头部菜单开始*/
header{width:100% ;position:fixed; top:0; left:0; z-index:9; }
header ul{width:100%; font-size:0; }
header ul li{width:20%; height:48px; display:inline-block; text-align:center; color:#fff; font:16px/48px "微软雅黑"; display:inline-block;}
header ul .cur{color:#f60;}
header ul li:hover{ cursor:pointer;}
/*头部菜单开始*/

/*左边nav开始*/
.navBox{width:50px; height:236px; position:fixed; top:50%; right:0; margin-top:-118px; z-index:10;}
#LeftNav{width:50px; height:200px; position:absolute; top:0; right:0;}
#LeftNav{ text-align:center;}
#LeftNav>li{width:10px; height:10px; border-radius:6px; border-radius:6px; border:1px solid #f60; margin:16px 18px;}
#LeftNav .active{width:10px; height:10px; background:#f60; margin:16px 18px;}
.navBox img{position:absolute; bottom:0; right:0;}
/*左边nav开始*/

/*主体部分开始*/
.content_box{position:relative;width:100%;height:1242px;overflow:hidden; z-index:1; }
#Main{position:absolute; left:0; top:0; width:100%;}
article{background-size:cover;}
/*第一页开始*/
.pageOne{background:url(../images/pic1.jpg) center no-repeat; position:relative; background-size:cover;}
.pageOne ul{ width:620px; height:170px; position:absolute; left:50%; top:50%; margin-left:-310px; margin-top:-80px;}
.pageOne li.pic1{position:absolute; left:0; top:0;
-webkit-animation: pic1 2s 1;
}
	@-webkit-keyframes pic1{
		0%{top:-400px; opacity:0;}
		70%{top:50px; opacity:1;}
		100%{top:0; opacity:1;}
		}
		
.pageOne li.pic2{position:absolute; right:0; top:0;
-webkit-animation: pic2 2s 1;
}
	@-webkit-keyframes pic2{
		0%{right:-400px; opacity:0;}
		100%{right:0; opacity:1;}
		}
.pageOne li.line1{width:430px; height:2px; background:#f60; position:absolute; left:0; top:60%;
-webkit-animation: line1 2s 1;
}
	@-webkit-keyframes line1{
		0%{left:1200px; width:0px; opacity:0;}
		70%{left:0; width:630px; opacity:0.7;}
		100%{left:0; width:430px; opacity:1;}
		}
.pageOne li.line2{width:45px; height:2px; background:#f60; position:absolute; left:-45px; top:-40px;
	-webkit-animation: line2 2s 1;
}
	@-webkit-keyframes line2{
		0%{left:-400px; opacity:0;}
		100%{left:-45px; opacity:1;}
		}
.pageOne li.line3{width:2px; height:45px; background:#f60; position:absolute; left:-40px; top:-45px;
	-webkit-animation: line3 2s 1;
}
	@-webkit-keyframes line3{
		0%{left:-400px; opacity:0;}
		100%{left:-40px; opacity:1;}
		}
.pageOne li.line4{width:45px; height:2px; background:#f60; position:absolute; right:-45px; bottom:-40px;
	-webkit-animation: line4 2s 1;
}
	@-webkit-keyframes line4{
		0%{right:-400px; opacity:0;}
		100%{right:-45px; opacity:1;}
		}
.pageOne li.line5{width:2px; height:45px; background:#f60; position:absolute;  right:-40px; bottom:-45px;
	-webkit-animation: line5 2s 1;
}
	@-webkit-keyframes line5{
		0%{right:-400px; opacity:0;}
		100%{right:-40px; opacity:1;}
		}
.pageOne li.pic3{position:absolute; left:0; bottom:0;
-webkit-animation: pic3 2s 1;
}
	@-webkit-keyframes pic3{
		0%{left:-400px; opacity:0;}
		100%{left:0; opacity:1;}
		}
.pageOne li.pic4{position:absolute; right:30px; bottom:0;
	-webkit-animation: pic4 2s 1;
}
	@-webkit-keyframes pic4{
		0%{ opacity:0; right:200px; bottom:100px; -webkit-transform:rotate(0deg) scale(2)}
		100%{opacity:1;  right:30px; bottom:0; -webkit-transform:rotate(360deg) scale(1)}
		}
.pageOne li.pic5{position:absolute; right:0; bottom:0;
-webkit-animation: pic5 2s 1;
}
	@-webkit-keyframes pic5{
		0%{bottom:-200px; opacity:0;}
		100%{bottom:0; opacity:1;}
		}
/*第一页结束*/

/*第二页开始*/
.pageTwo{background:url(../images/pic2.jpg) center no-repeat; position:relative; background-size:contain;  background-size:100% 100%;}
.pageTwo section{width:1100px; height:540px; position:absolute; left:50%; top:50%; margin-left:-550px; margin-top:-270px;}
.pageTwo section .round1{width:200px; height:200px; background:url(../images/jn.png) no-repeat; position:absolute; left:50%; top:50%; margin-left:-40px; margin-top:-100px;}
.pageTwo section .round1 p{ font:bold 36px/36px Arial, Helvetica, sans-serif; color:#FFF; position:absolute; left:30px; top:50px;}
.pageTwo section .round1 span{font:42px/42px "Courier New", Courier, monospace; color:#FFF; position:absolute; bottom:64px; right:38px}
.pageTwo section ul.skill li{ border:3px solid #f60;  border-radius:50%; position:absolute; text-align:center; z-index:9; cursor:pointer;}
.pageTwo section ul.skill li .opacity_0{width:120px; border-radius:5px; position:absolute; right:-100%; top:0; background:#f60; color:#fff; font:16px/20px "微软雅黑"; display:none;}
.pageTwo section ul.skill li .opacity_1{width:120px; border-radius:5px; position:absolute; left:-100%; top:0; background:#f60; color:#fff; font:16px/20px "微软雅黑"; display:none;}
.pageTwo section ul.skill li p{font:26px/30px "Times New Roman", Times, serif; color:#fff; margin-top:30px;}
.pageTwo section ul.skill li span{font:36px/42px Arial, Helvetica, sans-serif; color:#fff;}
.pageTwo section ul.skill li:nth-child(1){width:150px; height:150px; right:150px; bottom:180px;}
.pageTwo section ul.skill li:nth-child(2){width:150px; height:150px; right:280px;bottom:0px;}
.pageTwo section ul.skill li:nth-child(3){width:130px; height:130px; left:360px; top:30px;}
.pageTwo section ul.skill li:nth-child(4){width:120px; height:120px; right:280px; top:40px;}
.pageTwo section ul.skill li:nth-child(5){width:140px; height:140px; left:300px; bottom:100px;}

.pageTwo section ul.adobe{width:250px; height:300px; position:absolute; left:0; top:50%; margin-top:-150px;}
.pageTwo section ul.adobe input{width:60px; height:40px; background:#f60; border:none; font-size:18px; color:#fff;}
.pageTwo section ul.adobe li{width:200px; height:30px; margin:10px 0; }
.pageTwo section ul.adobe li p{font:20px/30px "Times New Roman", Times, serif; color:#fff; position:absolute; left:0;}
.pageTwo section ul.adobe li div{width:160px; height:30px; background:#f60; position:absolute; right:0; text-align:center; line-height:30px; color:#fff;}
.pageTwo section ul.adobe li:nth-child(3) div{width:144px; right:16px;}
.pageTwo section ul.adobe li:nth-child(4) div{width:128px; right:32px;}
.pageTwo section ul.adobe li:nth-child(5) div{width:112px; right:48px;}
.pageTwo section ul.adobe li:nth-child(6) div{width:100px; right:60px;}
/*第二页结束*/

/*第三页开始*/
.pageThree{background:url(../images/pic3.png) center no-repeat; background-size:cover;}
.pageThree ul{width:970px; height:490px; position:absolute; left:50%; top:50%; margin-left:-480px; margin-top:-240px;}
.pageThree ul li{width:220px; height:140px; margin:0 20px 20px 0;float:left; border-radius:5px; box-shadow:0 0 5px #fff; overflow:hidden; position:relative; cursor:pointer;}
.pageThree ul li div.slide{ width:220px; height:32px; position:absolute; left:0; top:-32px; background:#f60; opacity:0.6;}
.pageThree ul li p{width:220px; text-align:center; color:#FFF; font:16px/32px "微软雅黑"; position:absolute; left:0; top:140px; z-index:9; }
/*第三页结束*/

/*第四页开始*/
.pageFour{background:url(../images/pic4.png) center no-repeat; position:relative; background-size:cover;}
.pageFour div{width:100%; height:500px; position:absolute; left:0; top:50%; margin-top:-250px;}
.pageFour div section{width:107px; height:122px; position:absolute;left:0; top:0; background:url(../images/sixbox.png) -10px center no-repeat; border:none; text-align:center; padding-top:56px;font:24px/30px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer;}
.pageFour div section:hover{ background:url(../images/sixbox.png) -144px center no-repeat;}
.pageFour div section.active{ background:url(../images/sixbox.png) -144px center no-repeat;}
.pageFour div section:nth-child(1){left:0; top:0;}
.pageFour div section:nth-child(2){left:60px; top:100px;}
.pageFour div section:nth-child(3){left:0; top:200px;}
.pageFour div section:nth-child(4){left:60px; top:300px;}
.pageFour div#navBox div.active{display:block;}
.pageFour div#navBox div{width:920px; height:500px; display:none; position:absolute; left:50%; margin-left:-450px;}

	/*第一个div开始*/
	.pageFour div#navBox ul.one li{width:280px; height:160px; margin:20px 20px 0 0; border-radius:4px; box-shadow:0 0 5px #fff; display:inline-block; position:relative;}
	.pageFour div#navBox ul.one li a:before{content:""; width:100%; height:100%; border-radius:4px; background:#000; position:absolute; opacity:0.9;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0) rotate(0);
    -moz-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    -o-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
 	}
	.pageFour div#navBox ul.one li:hover a:before{
	-webkit-transform: scale(1) rotate(360deg);
	-moz-transform: scale(1) rotate(360deg);
	-ms-transform: scale(1) rotate(360deg);
	-o-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
	opacity: 0.7;
	 }
 	.pageFour div#navBox ul.one li p{width:100%; text-align:center; font:14px/24px Arial, Helvetica, sans-serif; color:#fff; margin:50px 0; position:absolute; display:none;
		-webkit-animation:name 2s infinite;
		}
		@-webkit-keyframes name{
			0%,100%{text-shadow: 0 0 0 #fff;}
			50%{text-shadow: 0 0 20px #fff;}
		}
	.pageFour div#navBox ul.one li p span{font-size:24px;}

	.pageFour div#navBox ul.one li:nth-child(1){ background:url(../images/oshine.png) center top no-repeat;}
	.pageFour div#navBox ul.one li:nth-child(2){ background:url(../images/churchmedia.png) center top no-repeat;}
	.pageFour div#navBox ul.one li:nth-child(3){ background:url(../images/ifreelance.png) center top no-repeat;}
	.pageFour div#navBox ul.one li:nth-child(4){ background:url(../images/jack.png) center top no-repeat;}
	.pageFour div#navBox ul.one li:nth-child(5){ background:url(../images/rfoon.png) center top no-repeat;}
	/*第一个div结束*/
	
	/*第二个div开始*/
	aside#inBox{position:absolute; left:50%; top:50%; margin-left:-300px; margin-top:-212px; width:660px; height:435px; overflow:hidden;}
	aside#inBox #prev{position:absolute;left:0;top:30%;width:30px;height:80px;background:url(../images/roller-prev_09267fb.png) no-repeat;z-index:8;}
	aside#inBox #next{position:absolute;right:0px;top:30%;width:30px;height:80px;background:url(../images/roller-next_20cf2e4.png) no-repeat;z-index:8;}
	aside#inBox ol{position:absolute; bottom:0; left:0; width:680px; height:75px; z-index:3; margin-left:-10px;}
	aside#inBox ol li{width:150px; height:75px; float:left; margin:0 10px; opacity:0.6;}
	aside#inBox ol li.active{ opacity:1;}
	aside#inBox ol li img{width:150px; height:75px;}
	aside#inBox>#inUl1{position:absolute; left:0; top:0; height:330px;}
	aside#inBox>#inUl1>li{float:left;width:660px; height:330px; margin-top:10px; display:block;}
	aside#inBox>#inUl1>li img{width:660px; height:330px;}
	#pic{position:absolute; left:0; top:0; width:660px; height:330px;overflow:hidden;}

	/*第二个div结束*/
	
	/*第三个div开始*/
	.pageFour div#navBox div:nth-child(4){position:absolute; left:50%; top:50%; margin-left:-300px; margin-top:-212px; width:660px; height:500px; overflow:hidden; border:1px solid #f60;}
	.pageFour div#navBox  ul.icon{width:400px; height:400px; position:absolute; left:10%; top:50%; margin-top:-180px;}
	.pageFour div#navBox  ul.icon li{width:88px; height:88px; float:left; margin:0 10px 10px 0; position:relative;}
	.pageFour div#navBox  ul.icon li img{width:88px; height:88px; transition:1s;}
	.pageFour div#navBox p.in{ position:absolute; right:0;  top:50%; margin-top:-174px; }
	.pageFour div#navBox p.in a{ position:absolute; left:30px; bottom:40px; line-height:20px; color:#f60;}
	.pageFour div#navBox p.in a span{font-size:16px; color:#f60; font-weight:bold;}
	.pageFour div#navBox p.in a:hover{ cursor:pointer; }
	/*第三个div结束*/
	
	/*第四个div开始*/
	
	.pageFour div#navBox div:nth-child(4){transform-style:preserve-3d; position:relative}
	#app{ position:relative; left:50%; top:50%; margin-left:-60px; margin-top:-136px; width:125px; height:222px;  transform:perspective(800px) rotateX(-25deg) rotateY(0deg); transform-style:preserve-3d;}

	#app li{ position:absolute;left:0;top:0;width:100%; height:100%;transition:1s all ease; transform: rotateY(0deg) translateZ(1px);border-radius:4px; box-shadow:0 0 5px #fff;}
	/*第四个div结束*/
/*第四页结束*/

/*第五页开始*/
.pageFive{background:url(../images/pic5.png) center no-repeat; position:relative; background-size:cover;}
.mpBox{width:540px; height:324px; position:absolute; left:50%; top:50%; margin-left:-270px; margin-top:-162px; border-radius:10px; background:url(../images/mingp.png) center center no-repeat;
-webkit-animation:mpBox 2s infinite;
	}

	@-webkit-keyframes mpBox{
		0%,100%{box-shadow: 0 0 0 #f60;}
		50%{box-shadow: 1px 1px 16px #f60;}
		}
.mpBox div{position:absolute; left:72px; top:110px;}
.mpBox ul{width:300px; height:160px; padding-left:30px; border-left:1px solid #f60; position:absolute; top:82px; right:0}
.mpBox ul li:nth-child(1){font:36px/36px "微软雅黑"; margin-bottom:32px;}
.mpBox ul li{font:20px/20px "微软雅黑"; margin-bottom:16px; color:#f60;}
/*第五页结束*/

/*主体部分结束*/























